<a href="https://colab.research.google.com/github/guimaraeshob/Python-POO-Estudos/blob/main/sqlite3BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
!pip install db-sqlite3

Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.10/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.10/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.10/dist-packages (from db->db-sqlite3) (1.2.1)

In [58]:
import sqlite3

# Passo 1: Conectar ao banco de dados
conn = sqlite3.connect('alunos.db')

# Passo 2: Definir uma classe para representar os dados
class Aluno:
    def __init__(self, nome, idade,serie):
        self.nome = nome
        self.idade = idade
        self.serie = serie
        self.cursor = conn.cursor()  # Adicione esta linha

    def salvar(self):
        # Inserir um novo aluno no banco de dados
        cursor = conn.cursor()
        cursor.execute("INSERT INTO alunos (nome, idade,serie) VALUES (?, ?, ?)", (self.nome, self.idade, self.serie))
        conn.commit()

    @staticmethod
    def buscar_por_nome(nome):
        # Buscar um aluno pelo nome no banco de dados
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM alunos WHERE nome=?", (nome,))
        aluno = cursor.fetchone()
        if aluno:
            return Aluno(aluno[1], aluno[2])
        else:
            return print(f'Aluno: {aluno} não existe no BD')

    def atualizar(self):
        # Atualizar a idade de um aluno no banco de dados
        cursor = conn.cursor()
        cursor.execute("UPDATE alunos SET idade=? WHERE nome=?", (self.idade, self.nome))
        conn.commit()

    def excluir(self):
        # Excluir um aluno do banco de dados
        cursor = conn.cursor()
        cursor.execute("DELETE FROM alunos WHERE nome=?", (self.nome,))
        conn.commit()

    def mostrar_todos(self):
        # Selecionar todos os registros da tabela
        self.cursor.execute(f"SELECT * FROM alunos")
        rows = self.cursor.fetchall()
        return rows
        registros = Aluno.verBd()
        print("Registros na tabela alunos:")
        for registro in registros:
          print(registro)




# Criar a tabela alunos (caso não exista)
conn.execute('''CREATE TABLE IF NOT EXISTS alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                serie INTEGER NOT NULL)

             ''')

# Passo 4: Usar métodos da classe para interagir com o banco de dados
# Criar um novo aluno
novo_aluno = Aluno('João', 20, 5)
novo_aluno.salvar()

# Buscar um aluno
# aluno = Aluno.buscar_por_nome('João')
# print("Nome:", aluno.nome)
# print("Idade:", aluno.idade)

# Atualizar um aluno
# aluno.idade = 21
# aluno.atualizar()

# Deletar um aluno
# aluno.excluir()

# novo_aluno.buscar_por_nome("Maria")

# Fechar a conexão com o banco de dados
# conn.close()

In [59]:
novo_aluno2 = Aluno('Maria', 18, 1)
novo_aluno2.salvar()

print(novo_aluno2.nome)

Maria

In [60]:
print(f'Aluno: {novo_aluno2.nome} \nIdade: {novo_aluno2.idade} \nSérie: {novo_aluno2.serie}')

Aluno: Maria
Idade: 18
Série: 1

In [61]:
registros = Aluno.mostrar_todos()
print("Todos registros")

for registro in registros:
  print(registro)

TypeError: Aluno.mostrar_todos() missing 1 required positional argument: 'self'